<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /prova-dti/public/
    
    # Excluir arquivos e diretórios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirecionar para index.php
    #RewriteRule ^(index\.php)?$ index.php [L]
    RewriteRule ^ index.php [L]
    #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>